.App {
  text-align: left;
  margin: 50px;
  font: Arial;
  color:aliceblue
}

body{
  background-color: darkcyan;
}

.task{
  border-spacing: 15px;
  border-style:groove;
  border-width: 1px;
  border-color: darkblue;
}

.greenbutton{
  background-color: greenyellow;
}
.redbutton{
  background-color: coral;
}